

<h2 style="margin:20px">
      <strong >
   <div>Enter the category name : <br> 
        <input type="text" ng-model="item.category"></div>
    <div>Enter the item name :  <br>
        <input type="text" ng-model="item.name"></div>
    
    <div>Enter the brand : <br>
          <input type="text" ng-model="item.brand"></div>
    
    <div>Enter the Price:  <br>
          <input type="text" ng-model="item.price"></div>
    
    <div>Enter the description : <br> 
         <input type="text" ng-model="item.desc"></div>
    
    <div>Enter the rating : <br>
           <input type="text" ng-model="item.rating"></div>
    
        </strong>
    </h2>


<button class="btn btn-primary" style="margin:10px"ng-click="add.join(item)">Add Category</button>